@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@900&display=swap');

html {
    height: 100%;
    margin: 0px;
}
html {
    background-image: 
    radial-gradient(
      farthest-corner circle at 100% 0% in oklab, 
      oklch(80% .4 222) 0%, oklch(35% .5 313) 100%
    );
}

button {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right,#4981ec,#8ca1c2);
    border: 3px solid white;
    border-radius: 15px;
    height: 5vh;
    width: 10vw;
}
button:hover {
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    transition: 0.5s;
}

.title {
    display: flex;
    justify-content: center;
}

.title h1, .title h2 {
    font-family: 'Lilita One', cursive;
    -webkit-text-fill-color: white;
    font-size: 7em;
    display: inline;
    margin: 0.25em;
}